.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #161616;
}
.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #BD99FF;
  animation: flickerAnimation 2.5s infinite;
}

html[data-theme='dark'] .st2 {
  fill: #f5f5f5;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
