.introContainer {
  width: 100%;
  padding: 20px;
}

html[data-theme='dark'] .introContainer {
  background-color: #393f58;
  border: 0.5px solid #c4c4c4;
  color: white !important;
}

html[data-theme='dark'] .chip {
  color: white !important;
  border: 1px solid #ddaa3a;
}

html[data-theme='dark'] .listItem p {
  color: white !important;
}

.title {
  font-size: 26px !important;
  font-family: 'Roboto Mono', sans-serif;
  margin-bottom: 15px !important;
}

.navigation {
  padding-top: 25px;
  font-family: 'Roboto Mono', sans-serif;
}
@media screen and (min-width: 900px) {
  .navigation {
    float: right;
  }
}

.navigation .counter {
  font-size: 13px;
  line-height: 21px;
  vertical-align: top;
  padding: 0px 7px 2px 0px;
  border-right: 1px solid black;
}

.navigation .lastCounter {
  font-size: 13px;
  line-height: 21px;
  vertical-align: top;
  padding: 0px 7px 2px 0px;
}

.navigation span {
  padding-bottom: 0px;
  display: inline-block;
}
.navigation .materialIcons {
  font-size: 21px;
  vertical-align: top;
  padding: 2px 7px;
}

.navigation .categoryIcons {
  font-size: 21px;
  vertical-align: top;
  padding: 0px 7px;
}

.subtitle {
  font-size: 20px !important;
  font-family: 'Roboto Mono', sans-serif;
  margin-bottom: 25px !important;
}

.requirement {
  width: 100%;
  padding: 20px;
  border-left: 3px solid #ddaa3a;
  min-height: 185px;
  margin-bottom: 10px;
}

html[data-theme='dark'] .requirement {
  background-color: #282d3f !important;
}

.titleRequirement {
  font-size: 18px !important;
  font-family: 'Roboto Mono', sans-serif;
}

.separator {
  border: none;
  border-top: 2px solid #ddaa3a;
  color: #333;
  overflow: visible;
  margin: 0px;
}

.requirement a {
  padding: 0px 16px !important;
}

.showMoreBtn {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  margin-bottom: -20px !important;
  width: 100%;
}

.showMoreBtn:hover {
  background: none !important;
}
