.container {
  width: 100%;
}

.title {
  font-family: 'Roboto Mono', sans-serif;
  margin: 30px auto 5px !important;
  font-size: 30px !important;
  width: 100%;
  text-align: center;
}

.underline:after {
  content: '_';
  color: #be99ff;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
