.container {
  width: 100%;
  background-color: #323334 !important;
}

html[data-theme='light'] .container {
  background-color: #f5f5f5 !important;
}

.title {
  font-family: 'Roboto Mono', sans-serif;
  padding: 60px 0 5px 55px !important;
  font-size: 30px !important;
  margin: 0 !important;
  color: black !important;
  width: 100%;
  text-align: left;
}
html[data-theme='dark'] .title {
  color: white !important;
}
.underline:after {
  content: '_';
  color: #be99ff;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-left: 55px;
  line-height: 20px;
  text-align: left;
  color: black !important;
}
html[data-theme='dark'] .text {
  color: white !important;
}

@media screen and (max-width: 1023px) {
  .title {
    padding-left: 20px !important;
  }

  .text {
    padding-left: 20px !important;
  }

  .vscode {
    padding: 0 30px !important;
  }

  .head {
    border-top-right-radius: 10px !important;
    border-right: 2px solid black !important;
  }

  .player {
    border-right: 2px solid black !important;
  }
  .secondList {
    margin-top: -20px !important;
  }

  .linesImg {
    margin-top: -20px;
  }
}

.lines {
  margin-bottom: -120px !important;
}

.linesImg {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.head {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  border-right: none;
  background-color: #f5f8fa;
  border-top-left-radius: 10px;
}

.player {
  background-size: cover;
}

.docs {
  background-color: #f5f8fa;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.docs img {
  margin: 15px auto !important;
  display: block;
  width: 30px;
}

.icons {
  margin: 15px auto !important;
  margin: 0 auto;
  display: block !important;
}

.video {
  background-color: #f5f8fa;
  color: black !important;
  border-right: 2px solid black;
}

.cardIcons {
  float: left !important;
  width: 24px;
  margin-top: 3px;
  padding-right: 5px;
}

.engine {
  color: black !important;
  padding: 7px;
  font-size: 12px;
  font-family: 'Roboto Mono', sans-serif !important;
  width: 100%;
  margin-left: 0 !important;
  word-break: break-word;
}

.engine span {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 13px !important;
}

.engineActive span {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 13px !important;
}

.engineActive {
  color: black;
  background-color: #81c8be;
  padding: 7px;
  font-size: 12px;
  font-family: 'Roboto Mono', sans-serif !important;
  width: 100%;
  margin-left: 0 !important;
  word-break: break-word;
}

.icoText {
  font-family: 'Roboto Mono', sans-serif !important;
}

.list span {
  color: black;
}

.list p {
  text-align: justify;
  font-size: 18px;
}

html[data-theme='dark'] .list span {
  color: white;
}

html[data-theme='dark'] .list p {
  color: white;
}

html[data-theme='dark'] .head {
  background-color: #323334 !important;
}

html[data-theme='dark'] .docs {
  background-color: #323334 !important;
}

html[data-theme='dark'] .video {
  background-color: #1e1e1e !important;
  color: white !important;
}

html[data-theme='dark'] .engine {
  color: white !important;
}

html[data-theme='dark'] .listIcon {
  fill: white !important;
}

.footer {
  width: 100%;
  height: 15px;
  background-color: #81c8be;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.listLink {
  text-decoration: none !important;
  color: inherit !important;
}

.listLink:hover * {
  color: #be99ff !important;
  fill: #be99ff !important;
}
