.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

.tableOfContents li {
  line-height: 20px !important;
}

.tableOfContents::-webkit-scrollbar {
  display: none;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}

.relatedContainer {
  width: 100%;
  padding-left: 10px;
  margin-top: 20px;
}
