.container {
  width: 100%;
  margin-bottom: 10px;
  background-image: url('/static/img/index/powered/nebula.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 15px;
}

html[data-theme='light'] .container {
  background-image: url('/static/img/index/header/nebula-light.svg');
}

@media screen and (max-width: 1023px) {
  .mobileNone {
    display: none !important;
  }

  .text {
    margin-top: 100px;
  }
  .left {
    margin-top: -60px !important;
  }
}

@media screen and (min-width: 1024px) {
  .mobileNone {
    display: flex !important;
  }

  .playerLeft {
    height: 250px !important;
  }
  .videoBtn {
    display: none !important;
  }
}

@media screen and (min-width: 1441px) {
  .left {
    padding-left: 100px;
    padding-top: 80px;
  }
}

.text {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  color: white;
  padding-right: 60px;
}
.footer {
  width: 100%;
  height: 15px;
  background-color: #81c8be;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.btnContainer {
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 1023px) {
  .pinkBtn {
    margin-bottom: 15px !important;
    width: 90% !important;
  }

  .whiteBtn {
    margin-bottom: 15px !important;
    width: 90% !important;
    font-size: 12px !important;
  }

  .container {
    padding: 90px 15px;
  }
}

.videoBtn {
  border: 2px solid #be99ff !important;
  background-color: transparent !important;
  color: #be99ff !important;
  border-radius: 2px !important;
  width: 90%;
  height: 40px;
  text-transform: uppercase;
}

.pinkBtn {
  margin-right: 30px !important;
  background-color: #be99ff !important;
  color: white !important;
  border-radius: 2px !important;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
}

.pinkBtn:hover {
  background-color: white !important;
  color: #be99ff !important;
}

.whiteBtn {
  margin-right: 30px !important;
  background-color: white !important;
  color: #be99ff !important;
  border-radius: 2px !important;
  width: 220px;
  height: 40px;
  text-transform: uppercase;
}

.whiteBtn:hover {
  background-color: #be99ff !important;
  color: white !important;
}

.whiteBtn::after {
  content: url('/static/img/index/powered/discord.svg');
  margin-top: 3px;
  margin-left: 10px;
}

.whiteBtn:hover::after {
  content: url('/static/img/index/powered/discord-white.svg');
  margin-top: 3px;
  margin-left: 10px;
}

html[data-theme='light'] .head {
  background-color: #f5f8fa !important;
}

html[data-theme='light'] .docs {
  background-color: #f7f8fa !important;
}

html[data-theme='light'] .video {
  background-color: #f7f8fa !important;
  color: black !important;
}

html[data-theme='light'] .player {
  background-color: #fafafa !important;
}
html[data-theme='light'] .playerLeft {
  background-color: #fafafa !important;
}

html[data-theme='light'] .text {
  color: black !important;
}

.head {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  background-color: #323334;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.player {
  border-right: 2px solid black;
  background-color: #1e1e1e;
}

.playerLeft {
  border-right: 2px solid black;
  background-color: #1e1e1e;
}

.docs {
  background-color: #323334;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.docs img {
  margin: 15px auto !important;
  display: block;
  width: 30px;
}

.icons {
  margin: 15px auto !important;
  display: block !important;
}

.video {
  background-color: #1e1e1e;
  color: white !important;
  border-right: 2px solid black;
}

.cardIcons {
  float: left !important;
  width: 24px;
  margin-top: 3px;
  padding-right: 5px;
}

.engine {
  color: black;
  background-color: #81c8be;
  padding: 5px;
  font-size: 12px;
  font-family: 'Roboto Mono';
}

.player_iframe {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: none;
}
