.cardContainer {
  margin-top: 20px !important;
}

.card {
  padding: 10px;
  min-height: 330px;
}

html[data-theme='dark'] .card {
  background-color: #323334;
  border: 0.5px solid #323334;
  color: white;
}

.cardTitle {
  font-size: 20px !important;
  margin-bottom: 10px;
}

.cardDesc {
  font-size: 14px !important;
  line-height: 18px;
  margin: 15px 0px;
  font-weight: initial;
  text-align: justify;
}

.link:hover .cardTitle {
  color: #db99ff;
}
