.introContainer {
  width: 100%;
  padding: 20px;
}

.stats {
  margin-top: 10px;
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 13px;
  float: right;
}

.introText {
  font-size: 12px;
  line-height: 18px;
}

.filterBtn select {
  text-indent: 5px;
}

.lvlBtn {
  margin-left: 6px;
  margin-top: 10px;
  display: block;
  float: right;
}

.lvlBtn button {
  border-color: #c4c4c4;
  font-size: 13px;
  color: black;
  height: 40px;
}

.cardContainer {
  margin-top: 20px !important;
}

.card {
  padding: 10px;
  min-height: 450px;
}

.cardTitle {
  font-size: 20px !important;
  margin-bottom: 10px;
}

.cardIcons {
  float: left !important;
  width: 24px;
  margin-top: 6px;
  padding-right: 5px;
}

.cardDesc {
  font-size: 12px !important;
  line-height: 18px;
  margin: 15px 0px;
}

.cardTag span {
  font-size: 12px;
  line-height: 15px !important;
  font-family: 'Roboto Mono', sans-serif;
}

.difficultyContainer {
  background: rgba(149, 143, 174, 0.2);
  width: 150px;
  margin: 15px 0px;
  padding: 3px 10px;
  border-radius: 3px;
  font-family: 'Roboto Mono', sans-serif;
  text-transform: capitalize;
  float: right;
}

.difficultyContainer span {
  font-size: 16px !important;
}

.difficulty {
  height: 0.75rem;
  width: 0.25rem;
  display: inline-block;
  margin-right: 1.25rem;
  background: #a8b6d1;
  box-shadow: 6px 0 0 #a8b6d1, 12px 0 0 #a8b6d1;
}

.levelTxt {
  padding-right: 5px;
  font-size: 14px !important;
  font-family: 'Roboto Mono', sans-serif;
}

.tag {
  margin-right: 10px;
  margin-bottom: 10px;
}
