.container {
  width: 100%;
  background-color: #323334;
}
html[data-theme='light'] .container {
  background-color: #f5f5f5;
}

.title {
  font-family: 'Roboto Mono', sans-serif;
  margin: 30px auto !important;
  font-size: 30px !important;
  text-align: center;
  color: black !important;
}

@media screen and (max-width: 1023px) {
  .vscode {
    display: none !important;
  }
  .vscodeMobile {
    display: initial !important;
  }
  .mobileNone {
    display: none !important;
  }

  .btnContainer {
    display: none !important;
  }

  .btnContainerMobile {
    display: initial !important;
  }

  .title {
    margin-bottom: 0 !important;
    margin-top: -60px !important;
  }
}

@media screen and (min-width: 1024px) {
  .vscode {
    display: initial !important;
  }

  .mobileNone {
    display: flex !important;
  }

  .vscodeMobile {
    display: none !important;
  }
  .btnContainer {
    display: flex !important;
  }

  .btnContainerMobile {
    display: none !important;
  }
}

@media screen and (min-width: 1441px) {
  .vscode {
    height: 600px;
  }
}
.footer {
  width: 100%;
  height: 15px;
  background-color: #81c8be;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.integrations {
  background-image: url('/static/img/index/vscode-white.svg');
  background-size: cover;
  min-height: 470px;
}

html[data-theme='dark'] .title {
  color: white !important;
}

.img {
  width: 48px;
}

.label {
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.underline:after {
  content: '_';
  color: #be99ff;
}

.pinkBtn {
  background-color: #be99ff !important;
  color: white !important;
  border-radius: 2px !important;
  text-transform: uppercase;
  height: 40px;
  width: 90%;
  padding: 8px !important;
  display: block !important;
  margin: 0 auto !important;
}

.pinkBtn:hover {
  background-color: white !important;
  color: #be99ff !important;
}

.gridBtn {
  padding-top: 0 !important;
}
.btnContainer {
  width: 100%;
  text-align: center;
  height: 100%;
  align-items: center;
}

.btnContainerMobile {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.imgLeft {
  margin-top: -50px !important;
  transform: rotate(180deg);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.imgRight {
  margin-bottom: -30px !important;
  float: right;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.head {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  background-color: #f5f8fa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.hiwTitle {
  color: black;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px !important;
  font-weight: bold;
  padding-top: 10px;
  display: block;
}

html[data-theme='dark'] .hiwTitle {
  color: white;
}

.player {
  border-right: 2px solid black;
  background-color: white;
  padding-left: 7px;
  color: black !important;
}

.docs {
  background-color: #f5f8fa;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.docs img {
  margin: 15px auto !important;
  display: block;
  width: 30px;
}

.icons {
  margin: 15px auto !important;
  display: block !important;
}

.video {
  background-color: #f5f8fa;
  color: black !important;
  border-right: 2px solid black;
}

.cardIcons {
  float: left !important;
  width: 24px;
  margin-top: 3px;
  padding-right: 5px;
}

.engine {
  color: black !important;
  padding: 7px;
  font-size: 12px;
  font-family: 'Roboto Mono', sans-serif !important;
  width: 100%;
  margin-left: 0 !important;
}

.engine span {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 13px !important;
}

.engineActive span {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 13px !important;
}

.engineActive {
  color: black;
  background-color: #81c8be;
  padding: 7px;
  font-size: 12px;
  font-family: 'Roboto Mono', sans-serif !important;
  width: 100%;
  margin-left: 0 !important;
}

.vscode {
  padding: 0 !important;
}

.vscodeMobile {
  padding: 0 !important;
}

.icoText {
  font-family: 'Roboto Mono', sans-serif !important;
}

html[data-theme='dark'] .head {
  background-color: #323334 !important;
}

html[data-theme='dark'] .docs {
  background-color: #323334 !important;
}

html[data-theme='dark'] .video {
  background-color: #1e1e1e !important;
  color: white !important;
}

html[data-theme='dark'] .engine {
  color: white !important;
}

html[data-theme='dark'] .player {
  background-color: #1e1e1e !important;
  color: white !important;
}

.imgLink {
  color: black;
}
.imgLink:hover {
  text-decoration: none;
}

html[data-theme='dark'] .imgLink {
  color: white;
}

.imgLinkDesible {
  color: black;
  cursor: default;
  pointer-events: none;
}
.imgLinkDesible:hover {
  color: black;
  text-decoration: none;
}
html[data-theme='dark'] .imgLinkDesible {
  color: white;
}
