.container {
  width: 100%;
  background-color: white;
}

.leftLines {
  background-image: url('/static/img/index/left-lines.svg');
  background-size: cover;
}

.rightLines {
  background-image: url('/static/img/index/right-lines.svg');
  background-size: cover;
}

.integrations {
  background-image: url('/static/img/index/vscode-white.svg');
  background-size: cover;
  min-height: 470px;
}

.title {
  font-family: 'Roboto Mono', sans-serif;
  margin: 0 auto;
  font-size: 30px !important;
  margin-left: 20%;
}

.img {
  width: 48px;
}

.label {
  display: block;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
}

.underline:after {
  content: '_';
  color: #be99ff;
}

.pinkBtn {
  margin-right: 30px !important;
  background-color: #be99ff !important;
  color: white !important;
  border-radius: 2px !important;
  text-transform: uppercase;
}

.pinkBtn:hover {
  background-color: white !important;
  color: #be99ff !important;
}

.btnContainer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.imgLeft {
  margin-top: -50px !important;
}

.imgRight {
  margin-bottom: -30px !important;
}
