.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
  font-family: 'Roboto Mono';
}
.titleLink {
  color: black !important;
  font-family: 'Roboto Mono';
}

.titleLink:hover {
  color: #be99ff !important;
  text-decoration: none;
}
