/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/roboto');

:root {
  --ifm-color-primary: #bd99ff;
  --ifm-color-primary-dark: #a370ff;
  --ifm-color-primary-darker: #955cff;
  --ifm-color-primary-darkest: #6e1fff;
  --ifm-color-primary-light: #d7c2ff;
  --ifm-color-primary-lighter: #e5d6ff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #f5f5f5;
  --ifm-navbar-background-color: #f5f5f5;
}

@media screen and (max-width: 800px) {
  #__docusaurus {
    max-width: 100%;
    overflow-x: hidden;
  }
}

html[data-theme='dark'] {
  --ifm-background-color: #1e1e1e;
  --ifm-navbar-background-color: #323334;
  --ifm-menu-background-color: white;
  --ifm-color-primary: #bd99ff;
}

a {
  font-weight: 600 !important;
}

h1 {
  font-size: 43px !important;
  margin-bottom: 30px !important;
}

h2 {
  font-size: 31px !important;
  margin-bottom: 15px;
  font-weight: 500 !important;
}

h3 {
  font-size: 21px !important;
  margin-bottom: 15px !important;
}

h4 {
  font-size: 18px !important;
  margin-bottom: 15px !important;
}

span,
p,
li {
  font-size: 18px;
  line-height: 30px;
}

.menu a {
  font-weight: normal !important;
}
.navbar a {
  font-weight: normal !important;
}

.table-of-contents a {
  font-size: 14px;
  font-weight: normal !important;
  font-family: 'Roboto Mono', sans-serif;
}

html[data-theme='dark'] .menu {
  background-color: #323334;
  margin-bottom: 0;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer__links {
  text-align: center;
  padding: 25px 0px;
  color: black;
}

.footer__items {
  padding-left: 0;
}

html[data-theme='dark'] footer__links {
  background-color: white;
}

.feedbackForm {
  text-align: center;
}

.feedbackForm__response {
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  display: none;
  color: white;
}

.success {
  display: block;
  background-color: #31bba0;
}

.error {
  display: block;
  background-color: #e64900;
}

.feedbackForm__field label {
  float: left;
}

.container-feedback {
  font-family: 'Roboto Mono', sans-serif;
  min-height: 500px;
  box-shadow: 5px 3px 10px rgb(0 0 0 / 20%);
}

.col-info {
  width: 50%;
  background-color: #323334;
  border-radius: 5px 0px 0px 5px;
}

.col-info__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px !important;
  color: white;
  font-size: 35px !important;
}

.col-info__p {
  color: white;
  padding: 30px;
  font-weight: bold;
  text-align: center;
}

.col-info__img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.col-info__img {
  width: 40%;
}

.col-form {
  width: 50%;
  background-color: #90e2d2;
  color: black;
  border-radius: 0px 5px 5px 0px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-form form {
  padding: 10px 20px 50px 20px;
}

.inputForm {
  font-family: 'Roboto Mono', sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 25px;
  resize: vertical;
  background-color: white;
  color: black;
}

@media screen and (max-width: 800px) {
  .container-feedback {
    flex-direction: column;
    align-content: center;
    padding: 30px 0px;
  }
  .col-form {
    width: 80%;
    border-radius: 0px 0px 5px 5px;
  }
  .col-info {
    width: 80%;
    border-radius: 5px 5px 0px 0px;
  }
  .col-info__img {
    margin-bottom: 15px;
  }
}

html[data-theme='dark'] .container-feedback {
  box-shadow: 0 -2px 10px rgb(0 0 0);
}

html[data-theme='dark'] .inputForm {
  background-color: #323334;
  color: white;
}

html[data-theme='dark'] .col-form ::placeholder {
  color: white;
  opacity: 1;
}

.col-form label {
  font-weight: bold;
}

.col-form ::placeholder {
  color: grey;
  opacity: 1;
}

.col-form input:focus::placeholder {
  color: transparent;
}
.col-form textarea:focus::placeholder {
  color: transparent;
}

.col-form input[type='submit'] {
  font-family: 'Roboto Mono', sans-serif;
  margin-top: -5px;
  background-color: #5ad4bc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.col-form input[type='submit']:hover {
  background-color: #31bba0;
}

.contactUs {
  float: right;
}

.docusaurus-mt-lg {
  margin-top: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', sans-serif;
}

.function {
  color: #bd99ff !important;
}

.navbar__items,
.menu__list-item {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.player_iframe {
  width: 100%;
  height: 350px;
  left: 0px;
  top: 0px;
  border: none;
}

@media screen and (max-width: 800px) {
  .player_iframe {
    width: 100%;
    height: 194px;
    left: 0px;
    top: 0px;
    border: none;
  }
}

.cust_square_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  border: 0px solid;
  padding: 0px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 50px !important;
}

.cust_square_wrapper a:hover {
  text-decoration: none;
}

.cust_square {
  min-height: 240px;
  width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #e9e9e9;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  text-align: center;
}

.cust_square:hover {
  background-color: #f3f3f3;
}

html[data-theme='dark'] .cust_square {
  min-height: 240px;
  width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #323334;
  border: solid 1px #323334;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #323334;
  text-align: center;
  filter: none;
}

html[data-theme='dark'] .cust_square:hover {
  background-color: #565758;
}

html[data-theme='dark'] .cust_landing_title {
  color: white;
  font-size: 17px;
  font-weight: 700 !important;
  padding-bottom: 5px;
}
html[data-theme='dark'] .cust_landing_text {
  color: #bd99ff;
}

html[data-theme='dark'] .cust_landing_seperator {
  border-top: 2px solid #323334;
  margin: 9px 0px 5px 0px;
}

.cust_landing_seperator {
  border-top: 0.5px solid #c4c4c4;
  margin: 9px 0px 5px 0px;
}
.cust_landing_title {
  color: #161616;
  font-size: 17px;
  font-weight: 700 !important;
  padding-bottom: 5px;
  text-align: left;
  font-family: 'Roboto Mono', sans-serif;
}

.cust_landing_text {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

.cust_landing_img {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cust_landing_img img {
  height: 60px;
}

.cust_img_rot {
  transform: translate(5px) rotate(35deg);
  height: 80px !important;
}

.cust_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #aaa;
  font-weight: bold;
}
.cust_tooltip .cust_tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #fff;
  color: #555;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.875em;
  font-weight: normal;
}

html[data-theme='dark'] .cust_tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #323334;
  color: white;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.875em;
  font-weight: normal;
}

.cust_tooltip:hover .cust_tooltiptext {
  visibility: visible;
}

.row .col {
  margin-left: auto;
  margin-right: auto;
}

.typeform-sidetab-button-icon {
  display: none !important;
}

.zsiq_floatmain {
  margin-bottom: 50px;
}
@media screen and (min-width: 900px) {
  #link__header__faq {
    border-right: 1px solid white !important;
  }
  #link__header__faq:hover {
    border-right: 1px solid white !important;
  }
  html[data-theme='light'] #link__header__faq:hover {
    border-right: 1px solid black !important;
  }

  html[data-theme='light'] #link__header__faq {
    border-right: 1px solid black !important;
  }
}
.header-github-link:hover:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23237C6A' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link:hover:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%2374DBC6' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-github-link:hover {
  --ifm-button-color: gray;
}

.btn_footer span {
  margin-right: 15px;
}

@media screen and (max-width: 800px) {
  .typeform-sidetab,
  .zsiqwidget {
    display: none !important;
  }

  .row .col {
    min-width: 100% !important;
  }

  .custom_mobile_col {
    min-width: 100% !important;
  }
}

.admonition-icon {
  line-height: normal !important;
}

.imgPreview {
  cursor: pointer;
}
.navbar {
  min-height: 70px !important;
}

html[data-theme='dark'] thead {
  background-color: hsl(226, 23%, 11%);
}

html[data-theme='dark'] table tbody tr {
  background-color: #323334;
}

html[data-theme='dark'] table tbody tr:nth-child(2n) {
  background-color: #323334;
}

.tabs {
  border-bottom: 1px solid var(--ifm-tabs-color-active) !important;
}

.widget-title {
  margin-bottom: 20px;
}
.widget-title span {
  background: #839fad none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin-top: 25px;
  position: relative;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.widget-title span::after {
  background: inherit;
  content: '';
  height: inherit;
  position: absolute;
  top: -4px;
  width: 50%;
}

.rsLogo {
  width: 32px;
  margin: 15px 10px;
}

@media screen and (max-width: 800px) {
  .rsLogo {
    margin: 15px 5px;
  }
}

.footer {
  padding: 20px;
  background-color: #f5f5f5;
  color: black;
  z-index: 2;
  border-top: 2px solid #e2e2e2;
}

html[data-theme='dark'] .footer {
  border-top: 2px solid #1e1e1e;
  background-color: #323334;
  color: white;
}

.send {
  width: 10%;
  float: right;
  background-color: #32baa0 !important;
}

.send:hover {
  background-color: #161616 !important;
  color: #bd99ff !important;
}

.Confirmed {
  background: #edf569 !important;
  box-shadow: 6px 0 0 #edf569, 12px 0 0 #a8b6d1 !important;
}

.Beginner {
  background: #75dbc7 !important;
  box-shadow: 6px 0 0 #a8b6d1, 12px 0 0 #a8b6d1 !important;
}

.Expert {
  background: #ff5100 !important;
  box-shadow: 6px 0 0 #ff5100, 12px 0 0 #ff5100 !important;
}

.chipText {
  line-height: 21px !important;
}
.gif_tutorial {
  width: 300px !important;
}

.MuiListItemText-primary {
  color: black;
}

.breadcrumbs__link {
  font-weight: normal !important;
}

.breadcrumbs__link span {
  font-size: inherit !important;
}

.MuiListItemText-primary {
  font-family: 'Roboto Mono', sans-serif !important;
  font-size: 18px !important;
}

.react-typewriter-text {
  text-align: left;
  font-family: 'Roboto Mono';
  font-size: 30px !important;
  margin-bottom: 15px !important;
  font-weight: 700 !important;
}

.MuiRadio-root {
  display: none !important;
}

.react-typewriter-text-luos {
  color: white;
}

html[data-theme='light'] .react-typewriter-text-luos {
  color: black !important;
}
.footer__link-item {
  color: black;
  font-weight: 400 !important;
}

html[data-theme='dark'] .footer__link-item {
  color: white;
}

.footer__title {
  color: black;
}
html[data-theme='dark'] .footer__title {
  color: white;
}

.DocSearch-Button {
  background: #f5f5f5 !important;
}

html[data-theme='dark'] .DocSearch-Button {
  background: #565758 !important;
}

.arrayWithImg table {
  display: inline-block !important;
  margin-right: 15px;
}

.dropdown-archived-versions {
  font-size: 0.875rem;
  padding: 0;
}

.dropdown-separator {
  margin: 10px 0px;
}

.alexAuthor {
  color: #ff5101;
}

.alexAuthor p {
  color: #ff5101 !important;
}

.alexAuthor ol {
  color: #ff5101 !important;
}

.alexAuthor tr {
  border: none;
}

.alexAuthor td {
  border: none;
}

.alexAuthor h2,
h3 {
  color: initial;
}

.breadcrumbs__link svg {
  top: 7px;
}

.Mui-selected {
  color: #bd99ff !important;
}
