@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import 'variables.css';

@media print {
  h1 {page-break-before: always;}
  h1.no-break {page-break-before: avoid;}
  .print-break {page-break-before: always;}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono',sans-serif;
}


.sidebar-scrollbox{
	font-family: 'Roboto Mono',sans-serif;
}

.content main {
    padding-top: 50px;
    font-family: 'Roboto Light',sans-serif;
}

h1.no-break {
	padding-top: 50px;
}

a.cust_menu_item{
	color:var(--sidebar-fg);
	font-size: 0.875em;
	text-decoration: none;
}

a.cust_menu_item:hover {
    color: var(--sidebar-active);
}

/*******************  HOVER OVER DEFINITION  *******************/

.cust_tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 2px dotted #aaa;
}

.cust_tooltip .cust_tooltiptext {
	visibility: hidden;
	width: 350px;
	background-color: #fff;
	color: #555;
	text-align: left;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 8px;
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	font-size: 0.875em;
}

.cust_tooltip:hover .cust_tooltiptext {
	visibility: visible;
}

/*************************************/

.cust_container {
	margin: 10px auto;
	max-width: 600px;
	text-align: center;
}
.cust_container > h1 {
	margin: 30px 0;
	font-size: 4em;
	line-height: 1;
	letter-spacing: -1px;
}


.cust_footer {
	font-size: 10px;
}

.cust_edit_page:before {
	content:"✎ "; 
	
}
.cust_edit_page {
	font-size: 0.8em;
	margin-top:80px;
	padding-top: 5px;
	border-top: 1px solid #888;
}


/* Create two equal columns that floats next to each other */
.cust_column {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
  box-sizing: border-box;
}

/* Clear floats after the columns */
.cust_row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

/*******************  Card boards  *******************/

.cust_sheet {
	background-color: #f6f6f6;
	width: 40%;
	padding: 20px 20px 20px 20px;
	margin: 0 0 30px 50px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}

.cust_indent{
	/*border-left: 3px solid #ddd;
	padding: 0 0 0 8px;*/
	position: relative;
	left: 20px;
}

.cust_sheet-title{
	border-bottom: 2px dotted #aaa;
}
/*************************************/


/********** TABLES ****************/
table#cust_table {
  table-layout: fixed ;
  width: 100% ;
  border-collapse: collapse ;
}
table#cust_table td {
  width: 16% ;
  padding: 10px ;
}

table#cust_table caption {
  font-style: italic ;
}
/*************************************/


/***************** HEADER ********************/

#theme-list{
	position: fixed;
	left: 25%;
}

#search-wrapper{
	padding-top: 170px;
}

.content{
	padding-top: 120px;
}

.cust_menu_container{
	width: 100%;
	height: 88px;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #161616;
	flex-direction: column;
	/*box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);*/
	padding-left: 70px;
	z-index: 10;
	border-bottom: 1px solid #454545;

	/*margin: auto; /* Center horizontally */
	/*border: 1px solid #000;*/
}

.cust_menu_container:after {
  content: "";
  display: table;
  clear: both;
}/**/

.cust_column {
	font-family: 'Roboto Mono',sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
	height: 60px;
	line-height: 65px;
	white-space: nowrap;
	/*border: 1px solid #000;*/
}

.cust_column a{
	font-family: 'Roboto Mono',sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;

}

.cust_right a:hover{
	color: #bd99ff;
}

.icon-button{
	padding: 10px 6px;
	cursor: pointer;
}

.cust_middle{
	height:100%;
	float: left;
	width: 30%;
}

.cust_right{
	float: right;
	height:100%;
	/*width: 50%;
	border: 1px solid #fff;*/
	text-align: right;
	padding-right: 250px;

}

.cust_logo_container{
	margin: 0;
	top: 50%;
	height:100%;
	float: left;
	width: 9%;
	padding-top: 16px;
}

.cust_menu_items{
	float: left;
}

.cust_shift{
	padding-top: 60px;
}


@media screen and (max-width: 800px) {
	.sidebar .sidebar-scroll-box{
		padding-top: 200px;
	}

	.chapter{
		padding-top: 92px;
	}

	.content{
		padding-top: 212px;
	}

	#search-wrapper{
		padding-top: 262px;
	}


	.cust_menu_container{
		height: 180px;
		margin-bottom: 50px;		
		width: 100%;
		padding-left: 0px;
	}

	.cust_column {
		height: 150px;
		text-align: center;
	}

	.cust_middle{
		width: 100%;
		height: 50px;
		text-align: center;
	}

	.cust_right{
		width: 100%;
		height: 50px;
		text-align: center;
		padding-right: 0px;

	}

	.cust_logo_container{
		width: 100%;
		height: 50px;
		text-align: center;
	}

	.cust_shift{
		padding-top: 150px;
	}


}

/*************************************/

.cust_video{
	width: 800px;
	height: 450px
}

@media screen and (max-width: 800px) {
	.cust_video{
		width: 90%;
	}
}

.cust_nl{
	width: 80%;
	padding: 10px 10px 10px 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	border: 1px solid #ddd;
	margin: auto;
}

/*
.cust_banner{
	visibility: visible;
	width: 100%;
	height: 40px;
	position: fixed;
	background-color: #ffe6b3;
	top: 0;
	left: 0;
	z-index: 999;
	line-height: 40px;
	padding-left: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	text-decoration: none;

}

#cust_close {
    float: right;
   	cursor: pointer;
   	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-right: 50px;
	text-align: center;
	background-color: #aaa;
	padding-right: 8px;
	padding-left: 8px;
}

#cust_close:hover {
	background-color: #ccc;
}


.cust_bottom_banner{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 80%;
	background-color: #ffe6b3;
	z-index: 999;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	text-decoration: none;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	line-height: 20px;
	padding: 8px 5px 8px 5px ;
}

*/

#container1 {
    width:600px;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:11px;
    text-align:center;
    margin:auto;
    margin-bottom: 50px;
    border: 0px solid #000;
}

/* It's supposed to look like a tree diagram */
.tree, .tree ul.wf_ul, .tree li.wf_li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    font-size:12px;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree strong {
    font-size:16px;
}
.tree strong.cust_number {
    font-size:30px;
}
.tree, .tree ul.wf_ul {
    display: table;
}
.tree ul.wf_ul {
  width: 100%;
}
.tree li.wf_li {
display: table-cell;
padding: 1.5em 0;
vertical-align: top;
}
/* horizontal connectors */
.tree li.wf_li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.tree li.wf_li:first-child:before {left: 50%;}
.tree li.wf_li:last-child:before {right: 50%;}

/* cells */
.tree span {
    border: solid .1em #666;
    border-radius: 10px;
    display: inline-block;
    margin: 0 .5em 1.5em;
    padding: .9em .6em;
    position: relative;
    min-width: 80px;
    max-width: 220px;
    min-height: 30px;
    max-height: 200px;
    background-color:#fff;
}
.tree span:hover {
	background-color:#e5eecc;
}
.tree span.cust_basics {
	border: dashed 1px;
}
.tree span.cust_choice {
	border: solid 2px;
	font-size: 12px;
}
.tree :target {
	/*border: double;*/
	background-color:#e5eecc;
}

/* vertical connectors */
.tree ul.wf_ul:before,
.tree span:before {
    outline: solid 0.001em #666;
    content: "";
    height: 1.5em;
    left: 50%;
    position: absolute;
}
.tree ul.wf_ul:before {
    top: -1.5em;
}
.tree span:before {
    top: -1.55em;
}

/* The root node doesn't connect upwards */
.tree > li.wf_li {margin-top: 0;}
.tree > li.wf_li:before,
.tree > li.wf_li:after,
.tree > li.wf_li > span:before {
	outline: none;
}

.zf-fmFooter .zf-submitColor{ font-size:14px; padding:4px 10px;}

.zf-submitColor{
	color: #fff;
	border:1px solid;
	border-color: #2F9EEC #1988D6 #1988D6;
	background: #2596e6;
	background: -webkit-gradient(linear, left top, left bottom, from(#2f9eec), to(#1988d6));
	background: -moz-linear-gradient(top,  #2f9eec,  #1988d6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f9eec', endColorstr='#1988d6');
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.15);
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.25);
	}
	
.zf-submitColor:hover{
	background: #1988d6;
	background: -webkit-gradient(linear, left top, left bottom, from(#1988d6), to(#1988d6));
	background: -moz-linear-gradient(top,  #1988d6,  #1988d6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1988d6', endColorstr='#1988d6');
	}

textarea#details_feedback{
  width: 100%;
  height: 100px;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}